.list-header{
  font-weight: 500;
}

.trash-button{
  width: 30px;
}

.album-list li{
  list-style-type: none;
}

.album-list li div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.album-list li div img {
  height: 20px;
  width: 20px;
}
.album-list li div{
  border-bottom: solid 0.5px;
  padding: 20px 0px;
}
.album-list li div a{
  color: #344a52;
  font-weight: bold;
  text-decoration: none;
}


