<div class="products-list">
  <p class="header">Products</p>

      <div *ngFor="let product of products" class="product-item">

        <a href="{{product.link}}" [title]="product.name + ' details'">
         {{product.name}}
          <img src="./assets/link-icon.png">
        </a>

        <div class="product-images">
            <img *ngFor="let image of product.images" src="../../assets/products/{{image}}"/>
        </div>

        <ul>
          Описание:
          <li *ngFor="let descriptionItem of product.description">{{descriptionItem }}</li>
        </ul>

        <app-product-alerts [product]="product"
                            (notify)="onNotify()"> </app-product-alerts>

        <button type="button" (click)="share(product.link)" class="product-button"> Share </button>
      </div>

</div>
