<div *ngIf="product.like.counter < 10">
<a class="link-icon" href="{{product.link}}" [title]="product.name + ' details'">
  {{product.name}}
  <img src="../../assets/link-icon.png" arc="link-icon">
</a>

<div class="product-images">
  <img *ngFor="let image of product.images" src="../../assets/products/{{image}}"/>
</div>

<ul>
  Описание:
  <li *ngFor="let descriptionItem of product.description">{{descriptionItem }}</li>
</ul>

<div class="product-footer">
    <p class="like-text">{{product.like.counter}}</p>
    <button type="button" (click)="product.like.setLike()" [ngClass]="{'product-button-liked' : product.like.isLiked, 'product-button-not-liked' : !product.like.isLiked }"class="product-button-like"></button>
   <div class="product-price">{{product.price}}₸</div>
  <div class="product-buttons-box">
    <p>Share via</p>
    <button type="button" (click)="shareViaWhatsApp(product.link)" class="product-button-whatsapp"></button>
    <button type="button" (click)="shareViaTelegram(product.link)" class="product-button-telegram"></button>
  </div>

  <app-product-alerts [product]="product"
                      (notify)="onNotify()"> </app-product-alerts>
  <button type="button" (click)="deleteProduct(product)" class="product-button-trash"></button>
</div>


<div class="line"></div>


</div>
