
<div *ngIf="album" >
  <button class="album-details-return-back" routerLink="/albums">Back</button>
  <p>Album details:</p>
  <div class="album-details-content">
    <p>Title: {{album.title}}</p>
    <a class="album-details-photos-list" routerLink="/albums/{{album.id}}/photos">See photos -></a>
  </div>

  <div class="album-details-change-title-form">
    <input type="text" name="newTitle" placeholder="Title" [(ngModel)]="newTitle" />
    <button type="submit" (click)="updateAlbum()">Save</button>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
