.category{
  display: flex;
  flex-direction: column;
  margin: 20px 40px 40px 40px;
}
.category-button{
  margin: 10px 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.selected{
  background-color: #3566a8;
  color: aliceblue;
}
.not-selected{
  background-color: aliceblue;
  color: #3566a8;
}
